body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #212121;
}

.main
{
    position: relative;
    width: 100%;
    height: 100vh;
}

.heading
{
    /* white-space: nowrap; */
    position: sticky;
} 

.heading *
{
    display: inline;
}

#logo
{
    margin-left: 10%;
    margin-top: 1%;
    /* float: left; */
    color: white;
    font-family: cursive;
}

nav
{
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /*position: sticky;
    padding-top: 20px;
    padding-left: 15em;
    justify-content: center; */
    
}

/* nav ul li
{
    display: inline-block;
    margin: 10px 20px;
} */

nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover
{
    color: red;
}

.intro
{
    margin-left: 8%;
    margin-top: 13%;
}

.intro h1
{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.intro h1 span
{
    color: red;
    display: block;
}

.intro p
{
    color: #AAA;
    line-height: 22px;
}

#github
{
    width: 30px;
}

#linkedin
{
    width: 30px;
}

#github:hover
{
    opacity: 0.6;
}

#linkedin:hover
{
    opacity: 0.6
}

#HOME
{
    color: red;
    font-weight: bold;
}

.summary
{
    height: 500px;
    background: #121212;
}
