:root {
    --progress1-color: rgb(0, 200, 0);
    --progress2-color: rgb(200, 0, 0);
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(20, 20, 20);
    font-family: "Agency FB";
    overflow-x: hidden;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    padding: 0 60px;
    transition: 0.5s;
    background: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    overflow: hidden;
}
@font-face {
    font-family: "Logam";
    src: url("fonts/Logam.otf");
}
.logo {
    font-size: 32px;
    font-family: "Logam";
    font-weight: 900;
    line-height: 80px;
    margin-left: 15px;
}
nav ul {
    line-height: 80px;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    list-style: none;
    font-size: 18px;
}
nav ul li a {
    color: rgb(195, 195, 195);
    font-family: "Microsoft JhengHei";
}
nav ul li a:hover {
    color: rgb(255, 83, 97);
    transition: 0.4s;
}
#hamburger {
    display: block;
    position: absolute;
    right: -30px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
}
#hamburger .line {
    background: white;
    width: 30px;
    height: 3.5px;
    margin: 6px 0;
    border-radius: 5px;
}
@media only screen and (max-width: 575px) {
    nav {
        height: 70px;
    }
    nav ul {
        display: none;
    }
    #hamburger
    {
        right: 20px;
        transition: 0.4s;
    }
    .logo {
        margin: auto;
    }
}
.active ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(5px);
    top: 70px;
    left: 0;
    text-align: center;
    z-index: 10;
}
.active #hamburger {
    display: block;
    position: fixed;
    right: 20px;
}
.active ul li {
    margin-top: 50px !important;
    font-size: 22px !important;
    line-height: 40px;
}
.active .logo {
    margin: auto;
}
#home {
    display: flex;
    position: relative;
    background: rgb(5, 5, 5);
    height: 600px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#mahdi {
    position: absolute;
    height: 600px;
    margin-top: 13px;
    right: 15%;
}
#headline {
    z-index: 1;
    position: relative;
    left: 15%;
    margin-top: 150px;
    height: 225px;
    width: 413px;
}
#headline h3 {
    color: rgb(255, 83, 97);
    font-size: 25px;
}
#headline h1 {
    font-size: 65px;
}
#headline h2 {
    margin-top: 5px;
    color: rgb(200, 200, 200);
    font-weight: 500;
    letter-spacing: 1px;
}
@media only screen and (max-width: 1200px) {
    #mahdi {
        right: 10%;
    }
    #headline {
        left: 10%;
    }
}
@media only screen and (max-width: 1050px) {
    #mahdi {
        right: 5%;
    }
    #headline {
        left: 5%;
    }
}
@media only screen and (max-width: 900px) {
    #mahdi {
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0.3;
        filter: blur(3px);
    }
    #headline {
        position: static;
        margin: auto;
        margin-top: 150px;
    }
}
@media only screen and (max-width: 620px) {
    #mahdi {
        left: 40%;
    }
}
@media only screen and (max-width: 500px) {
    #headline {
        transform: scale(0.8);
    }
    #about p {
        text-align: left !important;
        font-size: 20px !important;
    }
}
#links {
    display: flex;
    width: 410px;
    margin-top: 20px;
}
#sublinks {
    display: flex;
    justify-content: space-evenly;
    width: 245px;
}
@media only screen and (max-width: 415px) {
    #headline {
        height: 410px;
        margin-top: 90px;
    }
}
@media only screen and (max-width: 375px) {
    #headline {
        width: 260px;
        margin-top: 50px;
    }
    #links {
        flex-direction: column;
    }
    #sublinks {
        margin-top: 20px;
        justify-content: space-between;
        width: 220px;
    }
    #contactbtn {
        width: 220px !important;
    }
    .title {
        width: 80% !important;
    }
}
#contactbtn {
    height: 55px;
    width: 170px;
    padding: 16px;
    text-align: center;
    border: 2px solid white;
    color: rgb(255, 83, 97);
    font-size: 18px;
    letter-spacing: 1px;
}
#contactbtn:hover, .link:hover {
    border: 2px solid rgb(255, 83, 97);
    box-shadow: 0 0 10px rgb(255, 83, 97);
    transition: 0.4s;
}
.link {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
}
#about {
    padding-top: 80px;
}
.title {
    width: 260px;
    height: 52px;
    margin: auto;
    text-align: center;
    margin-bottom: 45px;
    border: 2px solid rgb(255, 83, 97);
    line-height: 50px;
    box-shadow: 0 0 10px rgb(255, 83, 97);
}
.title h1 {
    font-size: 31px;
    color: white;
    font-weight: 600;
}
#content1 {
    display: flex;
    margin: auto;
    width: 90%;
}
#pfp {
    background: white;
    background-image: url("images/profile_picture.png");
    background-position: center;
    background-size: 142px;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    margin: 0 20px;
    margin-right: 5%;
    box-shadow: 0 0 6px white;
}
#description {
    width: 70%;
}
@media only screen and (max-width: 800px) {
    #content1 {
        flex-direction: column;
        align-items: center;
    }
    #description {
        width: 80%;
    }
    #content2 {
        flex-direction: column;
        align-items: center;
    }
    #languages {
        margin-bottom: 40px !important;
    }
}
#about h2 {
    font-size: 40px;
}
#about p {
    margin-top: 18px;
    color: rgb(211, 211, 211);
    font-size: 23px;
    text-align: justify;
}
#skills {
    padding-top: 80px;
}
#content2 {
    display: flex;
    justify-content: center;
}
#content2 > div {
    margin: 0 25px;
}
#content2 h2 {
    text-align: center;
    font-size: 28px;
}
#languages {
    display: flex;
    flex-direction: column;
    width: 325px;
    background: rgba(10, 10, 10, 0.8);
    box-shadow: 0 0 10px rgb(53, 53, 53);
    padding: 10px 20px;
}
.skill {
    display: flex;
    align-self: start;
}
.skill img {
    width: 75px;
    margin: 10px;
}
.skill p {
    margin-top: 18px !important;
}
.progress p {
    position: absolute;
    margin-top: -32px !important;
    margin-left: 142px;
}
.progress {
    background: rgb(169, 169, 169);
    position: absolute;
    margin-top: 50px;
    margin-left: 95px;
    width: 175px;
    height: 15px;
    border-radius: 20px;
}
.lang-progress {
    height: 100%;
    background: var(--progress1-color);
    border-radius: 20px;
}
.tool-progress {
    height: 100%;
    background: var(--progress2-color);
    border-radius: 20px;
}
.python-progress {
    width: 70%;
}
.html-progress {
    width: 80%;
}
.css-progress {
    width: 80%;
}
.javascript-progress {
    width: 70%;
}
.c-progress {
    width: 60%;
}
#dev-tools {
    display: flex;
    flex-direction: column;
    width: 325px;
    background: rgba(10, 10, 10, 0.8);
    box-shadow: 0 0 10px rgb(53, 53, 53);
    padding: 10px 20px;
}
.linux-progress {
    width: 65%;
}
.git-progress {
    width: 80%;
}
.github-progress {
    width: 80%;
}
.visualstudio-progress {
    width: 90%;
}
.chromedevtools-progress {
    width: 85%;
}
/* #projects {
    width: 100%;
    padding: 50px 15px;
}
#content3 {
    display: flex;
    justify-content: space-evenly;
}
@media only screen and (max-width: 1300px) {
    #content3 {
        flex-direction: column;
        align-items: center;
    }
    .project {
        margin-bottom: 40px;
    }
}
.project {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background: rgb(10, 10, 10);
    font-size: 22px;
    box-shadow: 0 0 10px rgb(53, 53, 53);
}
.project h2 {
    margin: 20px 0;
    border-bottom: 2px solid white;
    width: fit-content;
    align-self: center;
}
.project p {
    margin: 0 20px 20px 20px;
    color: rgb(211, 211, 211);
}
.view-project {
    position: absolute;
    margin: 350px 0 0 0;
    align-self: center;
    height: 55px;
    width: 170px;
    padding: 16px;
    text-align: center;
    border: 2px solid white;
    color: rgb(255, 83, 97);
    font-size: 18px;
}
.view-project:hover {
    border: 2px solid rgb(255, 83, 97);
    box-shadow: 0 0 10px rgb(255, 83, 97);
    transition: 0.4s;
}
.git-project {
    position: absolute;
    margin: 415px 0 0 0;
    align-self: center;
    height: 55px;
    width: 170px;
    padding: 16px;
    text-align: center;
    border: 2px solid white;
    color: rgb(192, 83, 255);
    font-size: 18px;
}
.git-project:hover {
    border: 2px solid rgb(192, 83, 255);
    box-shadow: 0 0 10px rgb(192, 83, 255);
    transition: 0.4s;
} */
#contact {
    padding: 80px 0;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
form {
    background: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    padding: 25px 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgb(53, 53, 53);
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgb(100, 100, 100);
    color: white;
    font-size: 16px;
    resize: none;
}
::placeholder {
    color:rgb(189, 189, 189); 
    font-family: "Calibri";
    font-size: 16px;
    font-weight: 400;
}
form button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 20px auto 0;
    background: rgb(255, 83, 97);
    border: 0px;
    border-radius: 30px;
    font-family: "Agency FB";
    font-size: 24px;
    font-weight: 800;
    line-height: 50px;
}
form button:hover {
    background: rgb(255, 59, 75);
    box-shadow: 0 0 10px rgb(255, 83, 97);
    transition: 0.4s;
}
footer {
    background: rgb(10, 10, 10);
    padding: 20px 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: "Calibri"
}
footer .logo {
    line-height: 0;
    margin: 20px;
}
#countries {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag {
    height: 25px;
    width: 40px;
    margin: 15px 10px;
}
.flag:hover {
    height: 35px;
    width: 50px;
    margin: 0;
    transition: 0.25s;
}
#footer-links {
    margin: 0px;
}
#footer-links a {
    margin: 0px 10px 40px 10px;
    text-decoration: underline;
    color: rgb(189, 189, 189);
}
#footer-links a:hover {
    color: white;
    transition: 0.3s;
}
#copyright {
    margin-top: 10px;
}