* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Logam";
    src: url('Logam.otf');
}
body {
    background: rgb(20, 20, 20);
    font-family: "Agency FB";
}
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 60px;
}
.logo {
    font-size: 30px;
    font-family: 'Logam';
    font-weight: 900;
    line-height: 80px;
}
nav ul {
    line-height: 80px;
}
nav ul li {
    display: inline;
    margin: 13px 15px;
    list-style: none;
    font-size: 18px;
}
nav ul li a {
    color: rgb(195, 195, 195);
    font-family: "Microsoft JhengHei";
}
nav ul li a:hover {
    color: rgb(255, 83, 97);
    transition: 0.4s;
}
@media only screen and (max-width: 575px) {
    .logo {
        margin: auto;
    }
    nav ul {
        display: none;
    }
}
#home {
    display: flex;
    position: relative;
    background: rgb(5, 5, 5);
    height: 600px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#mahdi {
    position: absolute;
    height: 600px;
    margin-top: 13px;
    right: 15%;
}
#headline {
    z-index: 1;
    position: relative;
    left: 15%;
    font-family: "Agency FB";
    margin-top: 150px;
}
@media only screen and (max-width: 1200px) {
    #mahdi {
        right: 10%;
    }
    #headline {
        left: 10%;
    }
}
@media only screen and (max-width: 1050px) {
    #mahdi {
        right: 5%;
    }
    #headline {
        left: 5%;
    }
}
@media only screen and (max-width: 900px) {
    #mahdi {
        /* top: 97px; */
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0.3;
        filter: blur(3px);
    }
    #headline {
        position: static;
        margin: auto;
        margin-top: 150px;
    }
}
@media only screen and (max-width: 620px) {
    #mahdi {
        left: 40%;
        /* top: 106px; */
    }
}
@media only screen and (max-width: 500px) {
    #headline {
        transform: scale(0.7);
    }
}
.links {
    display: flex;
    /* background: yellow; */
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 60px;
    margin-top: 20px;
}
#contactbtn {
    height: 55px;
    width: 170px;
    padding: 16px;
    text-align: center;
    border: 2px solid white;
    color: rgb(255, 83, 97);
    font-size: 18px;
}
#contactbtn:hover, .link:hover {
    border: 2px solid rgb(255, 83, 97);
    box-shadow: 0 0 10px rgb(255, 83, 97);
    transition: 0.4s;
}
.link {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
}
#home h3 {
    color: rgb(255, 83, 97);
    font-size: 25px;
}
#home h1 {
    font-size: 65px;
}
#about {
    width: 100%;
    height: 800px;
    padding: 50px 25px;
}
.title {
    width: 260px;
    height: 52px;
    margin: auto;
    text-align: center;
    margin-bottom: 45px;
    border: 2px solid rgb(255, 83, 97);
    line-height: 50px;
    box-shadow: 0 0 10px rgb(255, 83, 97);
}
.title h1 {
    font-size: 31px;
    font-family: "Agency FB";
    color: white;
    font-weight: 600;
}
#content1 {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    /* background: blue; */
    height: 600px;
    width: 1200px;
    font-family: "Agency FB";
}
#pfp {
    background: white;
    background-image: url("profile_picture.png");
    background-position: center;
    background-size: 142px;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    border-radius: 100px;
}
#description {
    /* background: black; */
    width: 500px;
}
#about h2 {
    font-size: 40px;
}
#about p {
    margin-top: 18px;
    color: rgb(211, 211, 211);
    font-size: 22px;
    text-align: justify;
}
#skills {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 585px;
    background: rgba(10, 10, 10, 0.8);
    box-shadow: 0 0 10px rgb(53, 53, 53);
}
#skills h2 {
    margin: 20px 0;
    border-bottom: 2px solid white;
    width: fit-content;
    align-self: center;
    font-size: 36px;
}
.skill {
    display: flex;
}
#skills img {
    width: 75px;
    margin: 10px;
}
.progress p {
    position: absolute;
    margin-top: -32px !important;
    margin-left: 142px;
    /* color: rgb(0, 180, 0) !important; */
}
.progress {
    background: rgb(169, 169, 169);
    position: absolute;
    margin-top: 50px;
    margin-left: 95px;
    width: 175px;
    height: 15px;
    border-radius: 20px;
}
#python-progress {
    width: 70%;
    height: 100%;
    background: rgb(0, 180, 0);
    border-radius: 20px;
}
#html-progress {
    width: 80%;
    height: 100%;
    background: rgb(0, 180, 0);
    border-radius: 20px;
}
#css-progress {
    width: 80%;
    height: 100%;
    background: rgb(0, 180, 0);
    border-radius: 20px;
}
#javascript-progress {
    width: 70%;
    height: 100%;
    background: rgb(0, 180, 0);
    border-radius: 20px;
}
#c-progress {
    width: 60%;
    height: 100%;
    background: rgb(0, 180, 0);
    border-radius: 20px;
}
#projects {
    width: 100%;
    height: 650px;
    padding: 50px 15px;
}
#content2 {
    display: flex;
    justify-content: space-evenly;
}
.project {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background: rgb(10, 10, 10);
    font-size: 22px;
    box-shadow: 0 0 10px rgb(53, 53, 53);
}
.project h2 {
    margin: 20px 0;
    border-bottom: 2px solid white;
    width: fit-content;
    align-self: center;
}
.project p {
    margin: 0 20px 20px 20px;
    color: rgb(211, 211, 211);
}
.view-project {
    position: absolute;
    margin: 350px 0 0 0;
    align-self: center;
    height: 55px;
    width: 170px;
    padding: 16px;
    text-align: center;
    border: 2px solid white;
    color: rgb(255, 83, 97);
    font-size: 18px;
    font-family: "Agency FB";
}
.view-project:hover {
    border: 2px solid rgb(255, 83, 97);
    box-shadow: 0 0 10px rgb(255, 83, 97);
    transition: 0.4s;
}
.git-project {
    position: absolute;
    margin: 415px 0 0 0;
    align-self: center;
    height: 55px;
    width: 170px;
    padding: 16px;
    text-align: center;
    border: 2px solid white;
    color: rgb(192, 83, 255);
    font-size: 18px;
    font-family: "Agency FB";
}
.git-project:hover {
    border: 2px solid rgb(192, 83, 255);
    box-shadow: 0 0 10px rgb(192, 83, 255);
    transition: 0.4s;
}
#contact {
    padding: 115px 0;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    height: 800px;
    width: 100%;
}
form {
    background: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgb(53, 53, 53);
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgb(100, 100, 100);
    color: white;
    font-size: 16px;
    resize: none;
}
::placeholder {
    color:rgb(189, 189, 189); 
    font-family: "Calibri";
    font-size: 16px;
    font-weight: 400;
}
form button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 20px auto 0;
    background: rgb(255, 83, 97);
    border: 0px;
    border-radius: 30px;
    font-family: "Agency FB";
    font-size: 24px;
    font-weight: 800;
    line-height: 50px;
}
form button:hover {
    background: rgb(255, 59, 75);
    box-shadow: 0 0 10px rgb(255, 83, 97);
    transition: 0.4s;
}
footer {
    background: rgb(10, 10, 10);
    padding: 20px 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: "Calibri"
}
footer .logo {
    line-height: 0;
    margin: 20px;
}
#languages {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
}
.flag {
    height: 25px;
    width: 40px;
    margin: 15px 10px;
}
#footer-links {
    margin: 0px;
}
#footer-links a {
    margin: 0px 10px 40px 10px;
    text-decoration: underline;
    color: rgb(189, 189, 189);
}
#footer-links a:hover {
    color: white;
    transition: 0.3s;
}
#copyright {
    margin-top: 10px;
}